* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}
.error {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: red;
}
.App {
  text-align: center;
  width: 100%;
  display: flex;
  background: white;
}
.checkout-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.label-preview-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.label-preview-wrapper .label-title {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  color: #000;
  height: 84px;
  padding: 0 5%;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.label-preview-wrapper .label-title .label-back {
  width: auto;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px !important;
  background: white;
  font: 18px;
  color: #000;
  letter-spacing: 1px;
  padding: 13px 0 10px;
  width: 72px;
  margin-right: 32px;
  border: 0px;
  cursor: pointer;
}
.label-preview-wrapper .label-title .label-back:hover {
  background: #ededed;
}
.header {
  display: flex;
  align-items: center;
  background-color: #000;
  height: 84px;
  padding: 0 5%;
  width: 100%;
}
.header .header-logo {
  max-width: 137px;
}
.header .header-description {
  color: white;
  margin-left: 64px;
  font-weight: bold;
  font-size: 24px;
}
.navigation {
  display: flex;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  margin-top: 16px;
  font-size: 12px;
  color: gray;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}
.checkout-content {
  display: flex;
  align-items: start;
  width: 100%;
}
.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  background: #fafafa;
  box-shadow: 1px 0 0 #e1e1e1 inset;
  height: 100%;
  padding-top: 6%;
  padding-left: 6%;
}
.product-wrapper .product-item-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(175, 175, 175, 0.34);
  padding-bottom: 27px;
  width: 80%;
}
.product-wrapper .product-item-wrapper .product-item-image {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  margin-right: 0;
}
.product-wrapper .product-item-wrapper .product-item-image .product-image {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: inherit;
  max-height: none;
}
.product-wrapper .product-item-wrapper .product-item-image .product-quantity {
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  white-space: nowrap;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(114, 114, 114, 0.9);
  color: #fff;
  box-sizing: border-box;
  min-width: 21px;
  height: 21px;
  padding: 0 7px;
  position: absolute;
  right: -9px;
  top: -9px;
  z-index: 3;
}
.product-wrapper .product-item-wrapper .product-item-name {
  padding: 0 15px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: 0 0;
  font-weight: bold;
}
.product-wrapper .product-item-wrapper .product-item-price {
  padding: 0 15px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: 0 0;
  font-weight: bold;
}
.product-wrapper .product-total-wrapper {
  display: flex;
  align-items: center;
  padding-top: 27px;
  width: 80%;
}
.product-wrapper .product-total-wrapper .product-total-label {
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
}
.product-wrapper .product-total-wrapper .product-total-value {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-left: auto;
}
.product-wrapper .product-item-prices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(175, 175, 175, 0.34);
  padding-bottom: 27px;
  padding-top: 27px;
  width: 80%;
}
.product-wrapper .product-item-prices-wrapper .product-item-prices-item {
  margin-bottom: 5px;
  display: flex;
  width: 100%;
}
.product-wrapper
  .product-item-prices-wrapper
  .product-item-prices-item
  .product-item-prices-label,
.product-wrapper
  .product-item-prices-wrapper
  .product-item-prices-item
  .product-item-prices-value {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: 0 0;
  font-weight: bold;
}
.product-wrapper
  .product-item-prices-wrapper
  .product-item-prices-item
  .product-item-prices-value {
  margin-left: auto;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: start;
  padding: 0 5%;
  width: 100%;
}
.form .form-title {
  font-size: 24px;
  font-weight: bold;
}
.form .form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.form input[type="text"],
.form select {
  border-color: #d9d9d9;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  padding: 13px 11px;
  height: auto;
  min-height: 0;
  line-height: 18.2px;
  outline: 0;
  box-shadow: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  margin-top: 16px;
  width: 95%;
}
.form .form-submit {
  padding: 19.6px 23.8px;
  width: auto;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px !important;
  background: #000;
  margin-top: 16px;
  font: 18px;
  color: white;
  letter-spacing: 1px;
  padding: 13px 0 10px;
  width: 150px;
  margin-bottom: 32px;
}
.form .form-submit:hover {
  background: #373737 !important;
  cursor: pointer;
}
.form .form-shipping {
  flex-direction: column;
  align-items: start;
  width: 95%;
  margin-top: 16px;
  display: flex;
}
.form .form-shipping h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.form .form-shipping .form-shipping-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid #ced4da;
  width: 100%;
  border-radius: 5px !important;
  padding: 24px;
}
.form .form-shipping .form-shipping-wrapper div {
  display: flex;
  align-items: center;
}
.form .form-shipping .form-shipping-wrapper div label {
  margin-left: 8px;
}
.form .form-shipping .form-shipping-wrapper div:first-child {
  margin-bottom: 16px;
}
.form .form-shipping .form-shipping-wrapper label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.form .form-shipping .form-shipping-wrapper div.price {
  font-weight: bold;
  margin-left: 8px;
  align-items: center;
  display: flex;
  margin-bottom: 0px;
}
